[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/lua"]
	path = thirdparty/lua
	url = https://github.com/liuping1997/lua.git
[submodule "thirdparty/boost"]
	path = thirdparty/boost
	url = https://github.com/liuping1997/boost.git
[submodule "thirdparty/hidapi"]
	path = thirdparty/hidapi
	url = https://github.com/signal11/hidapi.git
